# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
# VS Code
.vscode/
dist/
build/
# Miscellaneous
*.log
*.swp
# Temporary files
*.tmp
.env
yarn.lock
package-lock.json
npm-lock.json


# React Native
#
# React Native specific files       
# that should not be committed to the repository.
# This includes the build artifacts, temporary files, and other generated content.
# The following files and directories are ignored:
# Android
android/.gradle/
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/raw/index.android.bundle
android/app/src/main/res/raw/sourcemap.js
# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
ios/DerivedData/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceTabControllerState.plist
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceUserState.plist
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcworkspace/xcuserdata/$(USER).xcuserdatad/xcschemes/
ios/Runner.xcworkspace/xcuserdata/$(USER).xcuserdatad/WorkspaceSettings.xcsettings
ios/Runner.xcworkspace/xcuserdata/$(USER).xcuserdatad/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/xcuserdata/$(USER).xcuserdatad/IDEWorkspaceTabControllerState.plist
ios/Runner.xcworkspace/xcuserdata/$(USER).xcuserdatad/IDEWorkspaceUserState.plist


# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# training
runs
tennis_session/tennis_ball_inference/*.pt
**/tennis-ball-detection-6/
**/COCO-Dataset-Limited-(Person-Only)-1/
**/tennis-tracker-20/
**/models/train/weights/best.mlpackage